<% include partials/header %>


    <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <button id="bonus" class="btn btn-warning btn-lg btn-block adjustbtn">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Bonus Points
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p id="thescore"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button id="deduct" class="btn btn-warning btn-lg btn-block adjustbtn">
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Reduce Points
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button id="supertube" class="btn btn-primary btn-lg btn-block super scorebtn tubebtn"></button>
                </div>
                <div class="col-sm-6">
                    <button id="superturn" class="btn btn-info btn-lg btn-block super scorebtn turnbtn"></button>
                </div>
                <!-- <div class="col-sm-4">
                    <button id="superhmn" class="btn btn-danger btn-lg btn-block super scorebtn turnbtn"></button>
                </div> -->
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button id="mdtube" class="btn btn-primary btn-lg btn-block medium scorebtn tubebtn"></button>
                </div>
                <div class="col-sm-6">
                    <button id="mdturn" class="btn btn-info btn-lg btn-block medium scorebtn turnbtn"></button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button id="qktube" class="btn btn-primary btn-lg btn-block small scorebtn tubebtn"></button>
                </div>
                <div class="col-sm-6">
                    <button id="smturn" class="btn btn-info btn-lg btn-block small scorebtn turnbtn"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button id="reset" class="btn btn-default btn-lg btn-block scorebtn">Reset Score</button>
                </div>
            </div>
        </div>


<% include partials/footer %>