#thescore {
    font-family: 'LCDBOLD';
    text-align: center;
    font-size: 8em;
}

.scorebtn {
    /* width: 30%; */
    float: left;
    margin: 5px 5px;
} 

.adjustbtn {
    float: left;
    margin: 5px 5px;
    height: 40px;
}

.super {
    height: 150px;
}

.medium {
    height: 75px;
}

.selected {
    background: steelblue;
    color: white;
}