<% include partials/header %>

    <div class="container">
            <h1><a href="/wavetypes/<%= wavetype._id %>"><%= wavetype.name %></a></h1>
            <h3><a href="/wavetypes">... Or select a different judging criteria</h3></p>
            <div class="row">
                <div class="col-sm-12">
                    <button id="bonus" class="btn btn-warning btn-lg btn-block adjustbtn">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Bonus Points
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p id="thescore"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button id="deduct" class="btn btn-warning btn-lg btn-block adjustbtn">
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Reduce Points
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button id="supertube" class="btn btn-primary btn-lg btn-block super scorebtn tubebtn"></button>
                </div>
                <div class="col-sm-6">
                    <button id="superturn" class="btn btn-info btn-lg btn-block super scorebtn turnbtn"></button>
                </div>
                <!-- <div class="col-sm-4">
                    <button id="superhmn" class="btn btn-danger btn-lg btn-block super scorebtn turnbtn"></button>
                </div> -->
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button id="mdtube" class="btn btn-primary btn-lg btn-block medium scorebtn tubebtn"></button>
                </div>
                <div class="col-sm-6">
                    <button id="mdturn" class="btn btn-info btn-lg btn-block medium scorebtn turnbtn"></button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button id="qktube" class="btn btn-primary btn-lg btn-block small scorebtn tubebtn"></button>
                </div>
                <div class="col-sm-6">
                    <button id="smturn" class="btn btn-info btn-lg btn-block small scorebtn turnbtn"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button id="reset" class="btn btn-default btn-lg btn-block scorebtn">Reset Score</button>
                </div>
            </div>
            <div class="row" id="rashierow">
                <div class="col-sm-2">
                    <button id="redscore" class="btn btn-default btn-lg btn-block redscorebtn">Lock in</button>
                </div>
                <div class="col-sm-2">
                    <button id="whitescore" class="btn btn-default btn-lg btn-block whitescorebtn">Lock in</button>
                </div>
                <div class="col-sm-2">
                    <button id="bluescore" class="btn btn-default btn-lg btn-block bluescorebtn">Lock in</button>
                </div>
                <div class="col-sm-2">
                    <button id="blackscore" class="btn btn-default btn-lg btn-block blackscorebtn">Lock in</button>
                </div>
                <div class="col-sm-2">
                    <button id="purplescore" class="btn btn-default btn-lg btn-block purplescorebtn">Lock in</button>
                </div>
                <div class="col-sm-2">
                    <button id="yellowscore" class="btn btn-default btn-lg btn-block yellowscorebtn">Lock in</button>
                </div>
            </div>
    </div>

    <script src="/js/scoremyride.js"></script>
    <script>
        initScoreProfile(<%- JSON.stringify(wavetype) %>);
    </script>


<% include partials/footer %>