/* refer to https://github.com/nax3t/background-slider */

body {
    background-color: #000;
}

#landing-header {
    z-index: 1; /* layer control */
    position: relative;
    text-align: center;
    padding-top: 40vh;  /* vh = view height */
}


#landing-header h1 {
    color: #fff;
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(https://www.surfertoday.com/images/stories/surfingaquitaine.jpg) 
}
.slideshow li:nth-child(2) { 
    background-image: url(https://s3-us-west-1.amazonaws.com/sl-coldfusion-static-prod/surfnews/images/2009/02_february/tavarua_lippman/full/01photo_jason_naude_the_line_up.jpg);
    animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
    background-image: url(https://www.joliphotos.com/files/Joli%20Perfection%20Collection%20Posters/snapper_rocks_joli_qs9714.jpg);
    animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
    background-image: url(https://cdn.surfer.com/uploads/2017/04/LiquidIdeals_Teahupoo_Servais_2.jpg);
    animation-delay: 30s; 
}


@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}