#thescore {
    font-family: 'LCDBOLD';
    text-align: center;
    font-size: 5em;
}

.scorebtn {
    /* width: 30%; */
    float: left;
    margin: 5px 5px;
    background-size: auto;
}

.tubebtn {
    /* background-image: url(../imgs/tube.png); */
    background-position: center;
    background-repeat: no-repeat;
}

#supertube {
    background-image: url(../imgs/large_tube.PNG);
}

#mdtube {
    background-image: url(../imgs/med_tube.PNG);
}

#qktube {
    background-image: url(../imgs/small_tube.PNG);
}

.turnbtn {
    background-image: url(../imgs/surf_move.png);
    background-position: center;
    background-repeat: no-repeat;
}

.adjustbtn {
    float: left;
    margin: 5px 5px;
    height: 40px;
}

.super {
    height: 150px;
    background-size: contain;
}

.medium {
    height: 90px;
    background-size: contain;
}

.small {
    height: 60px;
    background-size: contain;
}

.selected {
    background: steelblue;
    color: white;
}

.btn-default.redscorebtn {
    float: left;
    margin: 5px 5px;
    background-size: auto;
    background: red;
    color: yellow;
}

.btn-default.whitescorebtn {
    float: left;
    margin: 5px 5px;
    background-size: auto;
    background: white;
}

.btn-default.bluescorebtn {
    float: left;
    margin: 5px 5px;
    background-size: auto;
    background: blue;
    color: yellow;
}

.btn-default.blackscorebtn {
    float: left;
    margin: 5px 5px;
    background-size: auto;
    background: black;
    color: white;
}

.btn-default.purplescorebtn {
    float: left;
    margin: 5px 5px;
    background-size: auto;
    background: purple;
    color: white;
}

.btn-default.yellowscorebtn {
    float: left;
    margin: 5px 5px;
    background-size: auto;
    background: yellow;
    color: blue;
}