        <script src="/js/lib/jquery-3.2.1.min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>
        <script src="/js/scoremyride.js"></script>
        <p>Sanity Software 2017</p>
    </body>
</html>